* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #222;
    display: flex;
    width: 100vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

/* Nav bar */
.navbar {
    position: fixed; 
    top: 0; 
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 60px;
    background-color: #333; 
    z-index: 100; 
    box-shadow: 1px 1px 100px rgba(0, 0, 0, 0.496);
}

.navbar .contents{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.navbar h1{
    color: white;
}

.navbar h1 span{
    color: #00f4ff;
}

.nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin: 0 20px;
    font-size: 20px;
    position: relative;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.nav-item a:hover {
    color: #00f4ff; 
}

.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #00f4ff; 
    bottom: -5px;
    left: 0;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
}

.nav-item:hover::before {
    transform: scaleX(1);
}

#menu-toggle {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.menu-icon{
    color: #333;
}

/* Section1 - Inicio*/
.intro-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh; 
    padding-top: 110px; 
}


.intro-image {
    flex: 1;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}

.intro-image img {
    width: 450px;
    height: auto;
}

.intro-message {
    flex: 1;
    padding: 20px;
    text-align: center;
    line-height: 3rem;
    color: #fff;

}

.intro-section .intro-message h1{
    font-size: 2rem;
} 

.intro-section .intro-message h2{
    font-size: 1rem;
    color: #00f4ff;
} 

.intro-section .intro-message p{
    font-size: 1rem;
} 

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #333; 
    padding: 20px;
    border-radius: 50px; 
}

.social-icons a {
    text-decoration: none;
    color: #222; 
    font-size: 24px; 
    border-radius: 50%; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    box-shadow: 0 0 5px rgba(255, 255, 255, 0); 
    border-radius: 50%; 
    width: 48px; 
    height: 48px; 
    line-height: 48px; 
}

.social-icons a:hover {
    background-color: #00f4ff; 
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.5); 
}


/*Section2 - Sobre mim*/
.about-me-section {
    background-color: #333;
    text-align: center;
    color: #fff; 
    padding: 30px;

    min-height: 100vh; 
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.about-me-section h1 {
    font-size: 2rem;
}

.about-me-section h1 span{
    color: #00f4ff;
}

.profile-picture {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-picture img{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    border: .2rem solid #00f4ff;
    object-fit: cover;
    cursor: pointer;
    z-index: 2;
    transition: all 1s ease;
}

.profile-picture img:hover{
    transform: scale(1.05);
}



.profile-picture .circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-left: .2rem solid #333;
    border-right: .2rem solid #333;
    border-top: .2rem solid #00f4ff;
    border-bottom: .2rem solid #00f4ff;
    animation: aboutSpiner 5s linear infinite;
}

@keyframes aboutSpiner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.about-me-section p {
    font-size: 1rem;
    max-width: 900px;
}

.btn-box{
    position: relative;
    display: flex;
    justify-content: center;
    width: 50%;
    height: 5rem;
    gap: 30px;
}

.btn-box .btn{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 70px;
    background: #00f4ff;
    border: .2rem solid #00f4ff;
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #333;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    transition: all .5s;
}

.btn-box .btn:hover{
    color: #00f4ff;
}

.btn-box .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #333;
    z-index: -1;
    transition: all 0.5s;
}

.btn-box .btn:hover::before{
    width: 100%;

}

#secaoOculta {
    display: none; /* Começa oculto */
    background-color: #222; /* Cor de fundo neon */
    padding: 20px; /* Espaçamento interno */
    border: solid 3px #00f4ff;
    border-radius: 5px; /* Cantos arredondados */
    margin-top: 20px; /* Espaçamento superior */
    box-shadow: 0px 0px 20px #00f4ff; /* Sombra neon */
    color: #00f4ff; /* Cor do texto */
}

#secaoOculta p {
    font-size: 16px; /* Tamanho da fonte */
    font-weight: 400;
    line-height: 1.5; /* Espaçamento entre linhas */
    background-color: #333;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 5px;
}

#secaoOculta h1{
    color: white;
}


/*Section3 - Habilidades*/
.skills-section {
    background-color: #222;
    color: #fff;
    text-align: center;
    padding: 30px;

    width: 100%;
    min-height: 100vh; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skills-section h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.skill {
    flex: 1;
    max-width: 300px;
    padding: 20px;
    margin: 10px;
    background-color: #333;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
}

.skill:hover {
    transform: scale(1.05); 
    box-shadow: 0 0 10px #00f4ff; 
}

.skill i {
    font-size: 3rem;
    margin-bottom: 10px;
}

.skill h2 {
    font-size: 1.5rem;
}

/*Section4 - Projetos*/
.projects-section {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 30px;

    width: 100%;
    min-height: 100vh; 

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.span-neon{
    color: #00f4ff;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.project {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    transition: transform 0.3s, box-shadow 0.3s;
    gap: 30px;
}

.project img {
    max-width: 80%;
    height: auto;
    border-radius: 10px;
}

.project h2 {
    margin-top: 10px;
    font-size: 1.5rem;
}

.project p {
    margin-top: 10px;
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px #00f4ff;
}

.btn-box-project{
    position: relative;
    display: flex;
    justify-content: center;
    height: 50px;
}

.btn-box-project .btn-project{
    width: 100px;
    padding: 5px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #00f4ff;
    border: .2rem solid #00f4ff;
    border-radius: .8rem;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #333;
    z-index: 1;
    overflow: hidden;
    text-decoration: none;
    transition: all .5s;
}

.btn-box-project .btn-project:hover{
    color: #00f4ff;
}

.btn-box-project .btn-project::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background: #333;
    z-index: -1;
    transition: all 0.5s;
}

.btn-box-project .btn-project:hover::before{
    width: 100%;

}

/*footer - Contatos*/
.footer {
    background-color: #222;
    color: #fff;
    text-align: center;
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
}

.footer-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50%;
}

.footer-social{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 50%;
}


.social-icon{
    text-decoration: none;
    color: #fff;
    font-size: 3rem; 
    margin: 0 10px;
    transition: all 1s; 
    border: solid 1px white;
    width: 70px;
    height: 70px;
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
}


.contact-icon {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    margin: 0 10px;
    transition: all 1s; 
}

.social-icon:hover {
    color: #00f4ff;
    transition: all 300ms; 
    border: solid 1px #00f4ff;
    transform: scale(1.2);
}

.contact-icon:hover {
    color: #00f4ff;
    transition: all 300ms;
    border-bottom: solid 1px #00f4ff; 
}

.footer-social .contact-icon:hover {
    background-color: rgba(0, 244, 255, 0.1); /* Adiciona um efeito de preenchimento */
}

.footer-profile-picture {
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-profile-picture a{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: .2rem solid #00f4ff;
    object-fit: cover;
    z-index: 2;
}

.footer-profile-picture .footer-circle-spin{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border-left: .2rem solid #222;
    border-right: .2rem solid #222;
    border-top: .2rem solid #00f4ff;
    border-bottom: .2rem solid #00f4ff;
    animation: aboutSpiner 5s linear infinite;
}


/*Responsivo*/
@media screen and (max-width: 870px) {
    .navbar{
        justify-content: space-between;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #333;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-item {
        margin: 15px 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        color: #fff;
        font-size: 24px;
    }

    .intro-section {
        flex-direction: column; 
        text-align: center;
    }

    .intro-image {
        order: 1; 
    }

    .intro-message {
        order: 2; 
    }

    .intro-image img {
        width: 250px;
        height: auto;
    }

}

/*Progress bar*/
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}

.container .card{
    position: relative;
    width: 220px;
    height: 250px;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .card .percent{
    position: relative;
    width: 150px;
    height: 150px;
}

.container .card .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    transform: rotate(270deg);

}

.container .card .percent svg circle{
    width: 100%;
    height: 100%;
    fill: transparent;
    stroke-width: 2;
    stroke: #191919;
    transform: translate(5px, 5px);
}

.container .card .percent svg circle:nth-child(2){
    stroke: var(--clr);
    stroke-dasharray: 440;
    stroke-dashoffset: calc(440 - (440 * var(--num)) / 100);
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

@keyframes fadeIn{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

.dot{
    position: absolute;
    inset: 5px;
    z-index: 10;
    transform: rotate(calc(3.6deg * var(--num)));
    /* 360deg / 100 = 3.6 */
    animation: animateDot 2s linear forwards;
}

@keyframes animateDot{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {
        transform: rotate(calc(3.6deg * var(--num)));
    }
}

.dot::before{
    content: '';
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translate(-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--clr);
    box-shadow: 0 0 10px var(--clr), 0 0 30px var(--clr);

}

.number{
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    animation: fadeIn 1s linear forwards;
    animation-delay: 2.5s;
}

.number h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: 700;
    font-size: 2.5em;
}

.number h2 span{
    font-weight: 300;
    color: #fff;
    font-size: 0.5em;
}

.number p{
    font-weight: 300;
    font-size: 0.75em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: rgba(255,255,255,0.75);
}
